# SPDX-License-Identifier: GPL-2.0-only
#
# USB Power Delivery driver configuration
#

config USB_SYBC_BQ2589X
	tristate "BQ2589X class support"
	default y
	help
	  Say Y here to enable BQ2589X class support. 
