config DUAL_ROLE_USB_INTF
	bool "DUAL_ROLE_USB_INTF"
	default y
	help
	  Say Y to enable

config TCPC_RT1711H
	bool "TCPC_RT1711H"
	default y
	help
	  Say Y to enable

config TCPC_RT5081
	bool "TCPC_RT5081"
	default y
	help
	  Say Y to enable

config TCPC_CLASS
	bool "TCPC_CLASS"
	default y
	help
	  Say Y to enable

config USB_POWER_DELIVERY
	bool "USB_POWER_DELIVERY"
	default y
	help
	  Say Y to enable


config RT_REGMAP
	bool "RT_REGMAP"
	default y
	help
	  Say Y to enable

config SWITCH
	bool "SWITCH"
	default y
	help
	  Say Y to enable

config SWITCH_GPIO
	bool "SWITCH_GPIO"
	default y
	help
	  Say Y to enable

config SWITCH_HD3SS460
	bool "SWITCH_HD3SS460"
	default y
	help
	  Say Y to enable

